<div class="bar bar-header bar-light">
  <h1 class="title">记录</h1>
	<!-- <button class="button" >{{vm.text}}</button> -->
</div>

<ion-content class="has-header has-footer">
	<div class="historyTop">
		<span class="historyTopSpan " ng-class="{true:'active'}[vm.isTable==0]" ng-click="vm.changeTable(0)">表格</span>
		<span class="historyTopSpan" ng-class="{true:'active'}[vm.isTable==1]" ng-click="vm.changeTable(1)">走势图</span>
	</div>
<div >

<div class="card" ng-repeat="data in vm.data" ng-if="vm.isTable==0">
  <div class="item item-text-wrap history">
  <span>期数:{{data.id}}</span><span>结果:{{data.num}}</span>
  <br>
  
   <span>时间:{{data.created_at}}</span>
  </div>
</div>

</div>
<div class="list list-inset" ng-if="vm.isTable==1">

    <div class="item">
   <table class="table">
                    <thead>
                      <tr>
                        <th width="10%">期号</th>
                        <th width="10%">值</th>
                        <th width="10%">大</th>
                        <th width="10%">小</th>
                        <th width="10%">单</th>
                        <th width="10%">双</th>
                        <th width="10%">大单</th>
                        <th width="10%">大双</th>
                        <th width="10%">小单</th>
                        <th width="10%">小双</th>
                      </tr>
                    </thead>
                    <tbody class="tableTbody">
                      <tr ng-repeat="data in vm.chartData">
                        <td class="tableONEtd">{{data.id}}</td>
                        <td class="font-bold">
                        {{data.num}}
                        </td>
                        <td><span ng-if="data.num>13">大</span></td>
                        <td><span ng-if="data.num<13" >小</span></td>
                        <td><span ng-if="data.num%2!=0">单</span></td>
                        <td><span ng-if="data.num%2==0">双</span></td>
                        <td><span ng-if="data.num>13&&data.num%2!=0">大单</span></td>
                        <td><span ng-if="data.num>13&&data.num%2==0">大双</span></td>
                        <td><span ng-if="data.num<13&&data.num%2!=0">小单</span></td>
                        <td><span ng-if="data.num<13&&data.num%2==0">小双</span></td> 
                      </tr>
                      
                    </tbody>
                  </table>
    </div>


</div>
 <div class="ng-cloak" ng-if="vm.isTable==1">
                  
                </div>

</ion-content>